
.teaser-offer--infos-item a:hover {
  color: #fc3650
}

.teaser-offer--content:before {
  border-color: #fc3650
}

.teaser-offer--title {
  background-color: #fc3650;
  color: #fff
}

.teaser-offer {
  color: #333
}

.teaser-offer--infos .highlight,
.teaser-offer--store,
.teaser-offer--subtitle,
.teaser-offer--title {
  font-family: BureauVeritas-ExtBdUltraCond, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-transform: uppercase;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased
}

.teaser-offer.place .teaser-offer--content,
.teaser-offer.place .teaser-offer--summary {
  background-color: rgba(241, 235, 235, 0.9);
}

.teaser-offer--subtitle,
.teaser-offer--title {
  font-size: 12px
}

.teaser-offer--place.physical-address:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMy41Yy0yLjcgMC01LjEgMS44LTUuOCA0LjQtLjEuNi0uMiAxLjItLjIgMS44IDAgMiAxLjEgMy43IDIuMyA1LjQgMS4zIDEuNiAyLjQgMy4zIDMuMyA1LjEuMS4yLjMuMy41LjIuMSAwIC4yLS4xLjItLjIuOS0xLjggMi0zLjYgMy4zLTUuMSAxLjItMS43IDIuNC0zLjQgMi40LTUuNCAwLS42LS4xLTEuMi0uMi0xLjgtLjctMi42LTMuMS00LjQtNS44LTQuNHpNMTIgN2MtMS40IDAtMi41IDEuMS0yLjUgMi41UzEwLjYgMTIgMTIgMTJzMi41LTEuMSAyLjUtMi41UzEzLjQgNyAxMiA3eiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmMzNjUwIiBzdHJva2Utd2lkdGg9Ii43NSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PC9zdmc+");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px
}

.teaser-offer--infos-item.email a:before,
.teaser-offer--place.postal-address:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNC42IDUuOGgxNC44YzEuMSAwIDIgLjkgMiAydjguNWMwIDEuMS0uOSAyLTIgMkg0LjZjLTEuMSAwLTItLjktMi0yVjcuOGMwLTEuMi45LTIgMi0yeiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmMzNjUwIiBzdHJva2Utd2lkdGg9Ii43NSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmMzNjUwIiBzdHJva2Utd2lkdGg9Ii43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMy4zIDYuM2w4LjQgNy4xIDktNy4xIi8+PC9zdmc+");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px
}

.teaser-offer--infos-item.fax a:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTQuNyAxOC42YzAgLjQuMy43LjcuN2wyLjYuM2MuNCAwIC44LS4zLjktLjcgMC0uNyAwLTEuNS0uMi0yLjEtLjYtMS43LTMuMy0zLTYuNy0zLTIuNiAwLTQuOC43LTYgMS45LS4zLjMtLjYuNy0uNyAxLjEtLjIuNy0uMyAxLjQtLjIgMi4xIDAgLjQuNC44LjguN0g2bDIuNi0uM2MuNCAwIC43LS4zLjctLjdsLjEtMS40YzAtLjEuMS0uMi4yLS4yIDEuNi0uMiAzLjItLjIgNC44IDAgLjEgMCAuMi4xLjIuMmwuMSAxLjR6bS03LjYtNS45VjQuNEgxN3Y4LjNNOS40IDYuNWg1LjNNOS40IDguOGg1LjNtLTUuMyAyLjRoNS4zIiBmaWxsPSJub25lIiBzdHJva2U9IiNmYzM2NTAiIHN0cm9rZS13aWR0aD0iLjc1IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px
}

.teaser-offer--infos-item.phone a:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAuMiA4LjRjLjMtLjQuMy0xIDAtMS40TDcuOCA0Yy0uNC0uNi0xLjEtLjYtMS42LS4yaC0uMWMtLjguNy0xLjUgMS41LTIgMi41LTEuMiAyLjQuNCA2LjUgMy44IDEwIDIuNyAyLjcgNS44IDQuMyA4LjEgNC4zLjYgMCAxLjMtLjEgMS44LS40LjktLjUgMS44LTEuMiAyLjUtMiAuNC0uNS40LTEuMi0uMS0xLjZsLTMtMi40Yy0uNC0uMy0xLS4zLTEuNCAwbC0xLjYgMS4zYy0uMS4xLS4zLjEtLjQgMC0uOS0uNy0xLjgtMS41LTIuNy0yLjQtLjgtLjgtMS42LTEuNy0yLjQtMi42LS4xLS4xLS4xLS4zIDAtLjRsMS41LTEuN3oiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZjMzY1MCIgc3Ryb2tlLXdpZHRoPSIuNzUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px
}

.teaser-offer--infos-item.website a:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOS4xIDIwLjRjLjkuMyAxLjkuNCAyLjkuNHMxLjktLjEgMi44LS40YzEtLjMgMS45LTEgMi41LTEuOSAxLjItMiAxLjgtNC4yIDEuOC02LjYgMC0yLjMtLjYtNC42LTEuOC02LjYtLjYtLjktMS40LTEuNS0yLjQtMS45QzEzIDMgMTEgMyA5LjEgMy42Yy0xIC4zLTEuOCAxLTIuNCAxLjktMS4yIDItMS44IDQuMy0xLjggNi42cy42IDQuNiAxLjggNi42Yy42LjcgMS40IDEuNCAyLjQgMS43eiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmMzNjUwIiBzdHJva2Utd2lkdGg9Ii43NSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHRleHQgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNy4wMyAxMykiIGZpbGw9IiNmYzM2NTAiIGZvbnQtZmFtaWx5PSJBcmlhbE1UIiBmb250LXNpemU9IjMuMzgiPldXVzwvdGV4dD48L3N2Zz4=");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px
}

.teaser-offer,
.teaser-offer--content,
.teaser-offer--infos-item,
.teaser-offer--infos-item a,
.teaser-offer--place.physical-address,
.teaser-offer--place.postal-address {
  position: relative
}
.teaser-offer {
  margin-bottom: 30px;
  display: block
}
.teaser-offer:hover:before {
  height: 100%
}
.teaser-offer:hover .teaser-offer--content:before {
  top: 0;
  bottom: 0
}
.teaser-offer:hover .teaser-offer--action:before {
  display: none
}
.teaser-offer:hover .teaser-offer--action .link-std {
  transform: none;
  margin-left: 0
}
.teaser-offer--text .teaser-offer--contact:last-child {
  margin-bottom: 0
}
.teaser-offer--title {
  margin-bottom: 20px;
  padding: 20px 30px;
  line-height: normal;
  box-sizing: border-box
}
.teaser-offer--subtitle {
  margin-bottom: 20px;
  text-transform: uppercase
}
.teaser-offer--content {
  padding: 0 30px
}
.teaser-offer--content:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  transition: all .25s ease-out
}
.teaser-offer--content--inner {
  overflow: hidden
}
.teaser-offer--summary+.teaser-offer--contact {
  margin-top: 20px
}
.teaser-offer--store {
  text-transform: uppercase
}
.teaser-offer--place {
  margin-bottom: 20px
}
.teaser-offer--place.physical-address,
.teaser-offer--place.postal-address {
  padding-left: 34px;
  box-sizing: border-box
}
.teaser-offer--place.physical-address:before,
.teaser-offer--place.postal-address:before {
  position: absolute;
  top: -2px;
  left: 0
}
.teaser-offer--place .highlight {
  text-transform: uppercase
}
.teaser-offer--infos .highlight {
  text-transform: none
}
.teaser-offer--infos-item+.teaser-offer--infos-item {
  margin-top: 6px
}
.teaser-offer--infos-item a {
  display: block;
  padding-left: 33px;
  box-sizing: border-box
}
.teaser-offer--infos-item a:hover {
  transition: color .25s ease-out
}
.teaser-offer--infos-item a:before {
  position: absolute;
  top: -2px;
  left: 0
}
.teaser-offer--contact {
  margin-bottom: 20px
}
.teaser-offer--action {
  margin-top: 20px
}
.teaser-offer--action .link-std {
  transition: all .25s ease-out;
  transform: translateX(-100%);
  margin-left: 24px
}

.teaser-offer--action .link-std:after {
  right: 0 !important
}
.teaser-offer--close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 6px;
  cursor: pointer
}
.teaser-offer--close:before {
  transition: .25s;
  content: "";
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  display: block
}
.teaser-offer--close:hover:before {
  transform: rotate(90deg)
}
.needs-wall:not(.view-grid) .teaser-offer {
  align-items: flex-start !important
}
.teaser-offer.place .teaser-offer--summary {
  text-transform: uppercase
}
.teaser-offer.place .teaser-offer--action .link-std {
  transition: all .25s ease-out;
  transform: translateX(0);
  margin-left: 0
}
.teaser-offer.place .teaser-offer--action .link-std:hover {
  margin-left: 24px
}
.teaser-offer.map-layer {
  margin: 0;
  position: static;
  width: 200px
}
.teaser-offer.map-layer .teaser-offer--place {
  margin-bottom: 10px
}

.teaser-offer.map-layer .teaser-offer--content {
  position: static;
  padding: 12px 20px
}
.teaser-offer.map-layer .teaser-offer--title {
  padding: 20px 20px 12px;
  margin: 0
}
.teaser-offer.map-layer .teaser-offer--contact {
  margin: 10px 0
}
.teaser-offer.map-layer .teaser-offer--action .link-std:hover {
  margin: 0
}
.teaser-offer.place .teaser-offer--content {
  font-size: 11px
}
.teaser-offer--infos
{
list-style-type:none;
}
.teaser-offer--infos{
  margin:0px;
  padding:0px
}