h1, p {
  font-family: Lato;
}
.infobox{
    position:relative;
    background-color:white;
    border:1px solid rgb(136, 136, 136);
    left:0px;
    top:0px;
    width:256px;
}
.infobox1{
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            max-width: 256px;
            border-radius: 10px;
            padding: 10px;
            font-size:12px;
            pointer-events:auto !important;
        }
.infobox1 .title {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
            }
.infobox1 .phone {
                font-size: 12px;
                margin-bottom: 5px;
                color: rgb(250, 246, 29);
            }
            .infobox1 .email {
                font-size: 12px;
                margin-bottom: 5px;
                color: rgb(180, 255, 196);
            }
            .infobox1 .url {
                font-size: 12px;
                margin-bottom: 5px;
                color: rgb(255, 196, 194);
            }
.infobox_close{
    cursor:pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}

.infobox_content{
    margin:5px;
    font-family: Arial;
    font-size:11px;
    line-height:22px;
}

.infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
}